<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/clienthome_style.css'%}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo"></div>
        <div class="push-left">
          <button id="menu-toggler" data-class="menu-active" class="hamburger">
            <span class="hamburger-line hamburger-line-top"></span>
            <span class="hamburger-line hamburger-line-middle"></span>
            <span class="hamburger-line hamburger-line-bottom"></span>
          </button>
      
          <!--  Menu compatible with wp_nav_menu  -->
          <ul id="primary-menu" class="menu nav-menu">
            <li class="menu-item current-menu-item"><a class="nav__link"  href="{% url 'clienthome' %}">Home</a></li>
            <li class="menu-item dropdown"><a class="nav__link"  href="#">About</a></li>
               <ul class="sub-nav" >
                <li><a class="sub-nav__link" href="#">link 1</a></li>
                <li><a class="sub-nav__link" href="#">link 2</a></li>
                <li><a class="sub-nav__link" href="#">link 3 - long link - long link - long link</a></li>
              </ul>
      
            </li>
              <li for="select_platform " class="menu-item current-menu-item" > <a class="menu-item ">platform</a></li>
              <select class="form-contrl" name="plat">
                {% for i in plat %}
                {% if i.userid != i.userid %} 
                <option value="{{plat2.platformid}}">{{plat2.platform_name}}</option>
                {% else %}
                <option value="{{i.platformid}}">{{i.platform_name}}</option>
                {% endif %}
                {% endfor %}
              </select>

            <li class="menu-item "><a class="nav__link"  href="#">Blog</a>
             
            </li>
          </ul>
      
      
        </div>
      </nav>
    <div class="container py-5">
        <!-- For Demo Purpose-->
        <header class="text-center mb-5">
          <h1 class="display-4 font-weight-bold">Projects</h1>
          <p class="font-italic text-muted mb-0">.</p>
          <p class="font-italic text-muted"> <a href="https://bootstrapious.com" class="text-muted">
              <u></u></a>
          </p>
        </header>
      
      
        <!-- First Row [Prosucts]-->
        <h2 class="font-weight-bold mb-2">From project House </h2>
        <p class="font-italic text-muted mb-4">start something new</p>
       
      
        <div class="row pb-5 mb-4">
          {% for j in proj %} 
          {% if plat.userid == request.user %}
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
              <div class="card-body p-4"><img src="" alt="" class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="{% url 'project' j.projectid %}" class="text-dark">{{j.project_name}}</a></h5>
                <p class="small text-muted font-italic">{{j.documentation}}</p>
                
              </div>
            </div>
          </div>
          {% else %}
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
              <div class="card-body p-4"><img src="" alt="" class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="{% url 'project' j.projectid %}" class="text-dark">{{j.project_name}}</a></h5>
                <p class="small text-muted font-italic">{{j.documentation}}</p>
                
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}

      
          
      
          
      
      
        
          {% block body %}
          {% endblock %}
        </div>
      </div>
     <script>
         $(document).ready(function() {
             
            // Toggle menu on click
            $("#menu-toggler").click(function() {
            toggleBodyClass("menu-active");
            });
            alert('hello')
            function toggleBodyClass(className) {
            document.body.classList.toggle(className);
            }
        
        });
     </script> 
</body>
</html>