<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home_style.css'%}">
  <title>Document</title>
  <style>
    .card {
      box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
    }
    
  </style>
</head>
<body>
  <!--====== Header Section Start ======-->
<header>
  
  <nav class="navigation">

    <!-- Logo -->
    <div class="logo">
      <h1>LOGO</h1>
    </div>
    
    <!-- Navigation -->
    <ul class="menu-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">view profile</a></li> 
      <li><a href="#">Services</a></li>
      <li><a href="#portfolio">Project</a></li> 
      <li><a href="#">Contact</a></li> 
    </ul>

    <div class="humbarger">
      <div class="bar"></div>
      <div class="bar2 bar"></div> 
      <div class="bar"></div>
    </div>
  </nav>
  
  <!-- ==== Intro Section Start ==== -->  
          <div class="container">
          <div class="row">
          <!--<div class="col-sm-4">
            <div class="card" style="height: 200px;">
              <div class="card shadow border">
                <div class="card-body">
                  <h5 class="card-title"><a href="#">Add Projects   </a></h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>!-->
          <div class="col-sm-4">
            <div class="card" style="height: 200px; width: 18rem;">
              <div class="card-body">
                <h5 class="card-title" style="color: blue;">Projects</h5>
                <p class="card-text">Add the new projects here</p>
                <a href=""  class="btn btn-lg btn-block btn-primary">Add</a>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
              <div class="card" style="height: 200px; width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue;">Project Requests</h5>
                  <p class="card-text">View project requests here</p>
                  <a href="#"  class="btn btn-lg btn-block btn-primary">View</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="height: 200px; width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue;">Platforms</h5>
                  <p class="card-text">You can add Platforms here</p>
                  <a href="" class="btn btn-lg btn-block btn-primary">Add</a>
                </div>
              </div>
            </div>
          </div>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="card-deck mt-4"></div>
                <div class="card" style="height: 200px; width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" style="color: blue;">MCQ</h5>
                    <p class="card-text">Add MCQs here</p>
                    <a href="#"  class="btn btn-lg btn-block btn-primary">Add</a>
                  </div>
                </div>
              </div>
          
                <div class="col-sm-4">
                  <div class="card-deck mt-4">
                  <div class="card" style="height: 200px; width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"style="color: blue;">Tutorial Videos</h5>
                      <p class="card-text">You can add tutorial videos here</p>
                      <a href="#"  class="btn btn-lg btn-block btn-primary">Add</a>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-sm-4">
                  <div class="card-deck mt-4">
                  <div class="card" style="height: 200px; width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title" style="color: blue;">Company contact</h5>
                      <p class="card-text">add company details here</p>
                      <a href="#" class="btn btn-lg btn-block btn-primary">Details</a>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
        </div>
      </div>
      <p class="tagline">
      
      </p>
      <div class="header-btn animated bounceIn">
        
      </div>
      <!-- social media -->
    </div>
  </div>	
</header>
</body>
</html>
