<html lang="en" class="no-js">
    
     

<body>
<div class="darkcontent">

<!-- <div class="page-content"> -->

<div class="row">
<br><br><br><br>

    <div id="slider-frame">
        <div id="slider">

<!-- quiz intro (question 0)  -->

        <div class="panel">
          <div class="title-stuff">
             <h1>Quiz on Stuff You Should Know</h1>
            <br>
             <p>18 Questions</p>
             <p>For each question, select or type in the right answer(s). Click "Confirm" to submit your final answer.</p>
             <br>
             <div class="begin slideshow-next">Begin</div>
          </div><!-- end title-stuff -->

        </div><!-- end panel -->



       


<!-- select multiple -->

        <div class="panel select-multiple astr">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2 style="margin-bottom: 10px;">Select the four gas giants.</h2>  <!-- inline style for video only -->
            </div>

            <div class="panel-answer">
                 <button class="answer-multiple">
                    Mercury
                 </button>
                 <button class="answer-multiple correct">
                    Saturn
                 </button>
                 <button class="answer-multiple correct">
                    Uranus
                 </button>
                 <button class="answer-multiple correct">
                    Neptune
                 </button>
                <button class="answer-multiple">
                    Earth
                 </button>
                <button class="answer-multiple correct">
                    Jupiter
                 </button>
            </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
         <div class="fb partial-answer">
             Close. Jupiter, Saturn, Uranus and Neptune are the gas giants.
         </div>
         <div class="fb wrong-answer">
             Nope, way off. Jupiter, Saturn, Uranus and Neptune are the gas giants.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
        </div><!-- end panel -->


<!-- order words -->

        <div class="panel order-words math">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Drag the roman numerals to the correct order.</h2>
            </div><br>

                <div class="panel-answer">
                  <ul class="order-words-ul">
                    <li class="orderword4">XII</li>
                    <li class="orderword1">III</li>
                    <li class="orderword5">XX</li>
                    <li class="orderword2">V</li>
                    <li class="orderword3">IX</li>
                    <li class="orderword6">M</li>
                  </ul>
                </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
         <div class="fb partial-answer">
             Close but not quite.
         </div>
         <div class="fb wrong-answer">
             No, not quite.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
              <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
         </div><!-- end panel -->
          
          
<!-- annotate -->

        <div class="panel annotate">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Label the seasons.</h2>
            </div>

                <div class="panel-answer">
                    <img class="annotate-img" src="http://lauraspenke.com/quiz/images/seasons.png" />
                    <input class="fill-val-ann1" autocomplete="off"/>
                    <input class="fill-val-ann2" autocomplete="off"/>
                    <input class="fill-val-ann3" autocomplete="off"/>
                    <input class="fill-val-ann4" autocomplete="off"/>
                </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct! You know your seasons.
         </div>
         <div class="fb partial-answer">
             Close but not quite.
         </div>
         <div class="fb wrong-answer">
             Incorrect.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
        </div><!-- end panel -->
         

         <!-- fill blanks random -->

        <div class="panel fill-blanks-random geog">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Name the three northernmost countries.</h2>
            </div>

                <div class="panel-answer">
                    <input class="fill-val-ran1" autocomplete="off"/>
                </div>
                <div class="panel-answer">
                    <input class="fill-val-ran2" autocomplete="off"/>
                </div>
                <div class="panel-answer">
                    <input class="fill-val-ran3" autocomplete="off"/>
                </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
             <div class="fb partial-answer">
             Close but not quite. Canada, Greenland and Russia are the three northernmost countries.
         </div>
         <div class="fb wrong-answer">
             Incorrect. Canada, Greenland and Russia are the three northernmost countries.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
        </div><!-- end panel -->


<!-- select-one -->

        <div class="panel select-one math">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>A dodecahedron has 10 sides.</h2>
            </div><br>

            <div class="panel-answer one-box">
                <button class="viewer-answer-one correct">
                    true
                </button>
                <button class="viewer-answer-one">
                    false
                </button>
            </div>

         </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
         <div class="fb wrong-answer">
             No, a dodecahedron has 10 sides.
         </div>
         <div class="bottom">
             <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
             <div class="next slideshow-next">Next</div>
         </div>
    </div><!-- end panel -->


<!-- match words -->

        <div class="panel match-words math">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Drag the words on the right to match the words on the left.</h2>
            </div><br>

              <div class="match-words-box">
                <div class="panel-answer">
                   <ul class="match-words-col1">
                    <li class="word1">4</li>
                    <li class="word2">6</li>
                    <li class="word3">8</li>
                    </ul>
                </div>
                <div class="panel-answer">
                   <ul class="match-words-col2">
                    <li class="word2">hexagon</li>
                    <li class="word3">octagon</li>
                    <li class="word1">square</li>
                   </ul>
                </div>

              </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
         <div class="fb partial-answer">
             Close but not quite.
         </div>
         <div class="fb wrong-answer">
             Nope.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
         </div><!-- end panel -->


<!-- fill blanks order -->

        <div class="panel fill-blanks-order astr">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>The first three planets from the sun in order are <input class="fill-val1" size="10" autocomplete="off"/>, <input class="fill-val2" size="10" autocomplete="off"/> and
                    <input class="fill-val3" size="10" autocomplete="off"/>.</h2>
            </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
             <div class="fb partial-answer">
             Not quite. Mercury, Venus and Earth are the three closest planets, respectively.
         </div>
         <div class="fb wrong-answer">
             Incorrect. Mercury, Venus and Earth are the three closest planets, respectively.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
        </div><!-- end panel -->


<!-- match images -->

        <div class="panel match-images astr">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Drag the images on the bottom to match the images above.</h2>
            </div>

             <div class="match-img-box">
                <div class="panel-answer match-img-row1">
                    <img class="img1" src="http://lauraspenke.com/quiz/images/earth.jpg" />
                    <img class="img2" src="http://lauraspenke.com/quiz/images/jupiter.jpg" />
                    <img class="img3" src="http://lauraspenke.com/quiz/images/mars.jpg" />
                </div>
                <div class="panel-answer match-img-row2">
                    <img class="img3" src="http://lauraspenke.com/quiz/images/symbol-jupiter.jpg" />
                    <img class="img1" src="http://lauraspenke.com/quiz/images/symbol-mars.jpg" />
                    <img class="img2" src="http://lauraspenke.com/quiz/images/symbol-earth.jpg" />
                </div>
             </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
         <div class="fb partial-answer">
             Almost.
         </div>
         <div class="fb wrong-answer">
             No, not quite.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
         </div><!-- end panel -->


<!-- order pictures -->

        <div class="panel order-pictures astr">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Put the phases of the moon in the correct order by dragging.</h2>
            </div><br>

                <div class="panel-answer order-pics">

                    <img class="orderpic4" src="http://lauraspenke.com/quiz/images/phase4.jpg" />
                    <img class="orderpic1" src="http://lauraspenke.com/quiz/images/phase1.jpg" />
                    <img class="orderpic3" src="http://lauraspenke.com/quiz/images/phase3.jpg" />
                    <img class="orderpic2" src="http://lauraspenke.com/quiz/images/phase2.jpg" />
                </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
         <div class="fb partial-answer">
             Close but not quite.
         </div>
         <div class="fb wrong-answer">
             Incorrect.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
              <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
         </div><!-- end panel -->

<!-- short answer -->

        <div class="panel short-answer astr">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>What is the largest planet in our solar system?</h2>
            </div><br>

                <div class="panel-answer">
                    <input class="short-val" autocomplete="off"/>
                </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
         <div class="fb wrong-answer">
             No, the largest planet in our solar system is Jupiter.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
        </div><!-- end panel -->


<!-- words to pictures -->

        <div class="panel words-to-pictures biol">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Drag the words to match the images above.</h2>
            </div><br>
              <div class="match-words-pics">
                <div class="panel-answer match-wordpic-row1">
                    <img class="wordpic1" src="http://lauraspenke.com/quiz/images/frog-golden.jpg" />
                    <img class="wordpic2" src="http://lauraspenke.com/quiz/images/frog-glass.jpg" />
                    <img class="wordpic3" src="http://lauraspenke.com/quiz/images/frog-tree.jpg" />
                </div>
                <div class="panel-answer match-wordpic-row2">
                      <p class="wordpic2">glass frog</p>
                      <p class="wordpic1">golden frog</p>
                      <p class="wordpic3">tree frog</p>
                </div>
            </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Wonderful!
         </div>
         <div class="fb partial-answer">
             Close but not exactly.
         </div>
         <div class="fb wrong-answer">
             Not quite.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
         </div><!-- end panel -->

<!-- upload image -->

<div class="panel upload-image biol">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Upload a picture by dragging it to this box. (You will get credit for this one regardless. Shhh.)</h2>
            </div>
 <div class="panel-answer">
              <div id="holder"></div>
              <p id="upload" class="hidden"><label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label></p>
              <p id="filereader">File API & FileReader API not supported</p>
              <p id="formdata">XHR2's FormData is not supported</p>
              <p id="progress">XHR2's upload progress isn't supported</p>
              <!--<p>Upload progress: <progress id="uploadprogress" min="0" max="100" value="0">0</progress></p>-->
</div>
          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Perfect!
         </div>

         <div class="bottom">
              <div class="panel-weight">1 point</div>
              <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
         </div><!-- end panel -->

<!-- label-images -->

        <div class="panel label-images geog">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Label the continent.</h2>
                <br>
            </div>
              <div class="label-img-box">
                <div class="panel-answer label-img">
                <img src="http://lauraspenke.com/quiz/images/africa.jpg" />
                    <input class="fill-val-label1" autocomplete="off"/>
                    </div>
                <div class="panel-answer label-img">
                <img src="http://lauraspenke.com/quiz/images/asia.jpg" />
                    <input class="fill-val-label2" autocomplete="off"/>
                    </div>
                <div class="panel-answer label-img">
                <img src="http://lauraspenke.com/quiz/images/europe.jpg" />
                    <input class="fill-val-label3" autocomplete="off"/>
                </div>
                  <div class="clearfix"></div>
              </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
         <div class="fb partial-answer">
             Close, but not exactly.
         </div>
         <div class="fb wrong-answer">
             Incorrect.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
        </div><!-- end panel -->


<!-- classify words -->

        <div class="panel classify-words biol">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Put the words in the appropriate column.</h2>
            </div>

            <div class="panel-answer">


            <ul class="class-words-col1">
                <div class="col-title-words">Birds</div>
            </ul>


            <ul class="class-words-col2">
                <div class="col-title-words">Snakes</div>
            </ul>

            <br><br><br><br><br><br><br>
                <hr>
                <br>

            <ul class="word-pool">

            <li class="class1">robin</li>
            <li>asp</li>
            <li class="class1">dove</li>
            <li>copperhead</li>
            <li class="class1">penguin</li>
            <li>canebrake</li>
            <li>cobra</li>
            <li class="class1">flycatcher</li>

            </ul>

             </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             All right!
         </div>
             <div class="fb partial-answer">
             Almost.
         </div>
         <div class="fb wrong-answer">
             None of these were right.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
              <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
         </div><!-- end panel -->

<!-- table -->

        <div class="panel table math">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>A x B = C</h2>
            </div>

                <div class="panel-answer">
                    <table>
                        <thead>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        </thead>
                      <tr>
                        <td>2</td>
                        <td>7</td>
                        <td><input class="fill-val-tab1" size="12" autocomplete="off"/></td>
                      </tr>
                      <tr>
                        <td><input class="fill-val-tab2" size="12" autocomplete="off"/></td>
                        <td>4</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td><input class="fill-val-tab3" size="12" autocomplete="off"/></td>
                        <td>18</td>
                      </tr>
                    </table>
                </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Correct!
         </div>
          <div class="fb partial-answer">
             Close but not exactly.
         </div>
         <div class="fb wrong-answer">
             Nope.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
        </div><!-- end panel -->


<!-- select picture -->

        <div class="panel select-picture biol">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Select the reptile.</h2>
            </div><br>

                <div class="panel-answer select-pics">
                    <img src="http://lauraspenke.com/quiz/images/frog.png" />
                    <img class="correct" src="http://lauraspenke.com/quiz/images/snake.png" />
                    <img src="http://lauraspenke.com/quiz/images/butterfly.png" />
                    <img src="http://lauraspenke.com/quiz/images/owl.png" />
                    <img src="http://lauraspenke.com/quiz/images/moose.png" />
                </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             Congrats!
         </div>
         <div class="fb wrong-answer">
             No, not quite.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
              <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
         </div><!-- end panel -->


<!-- classify pics -->

<div class="panel classify-pics geog">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>Put the pictures in the appropriate column.</h2>
            </div>

            <div class="panel-answer">
                  <ul class="class-pics-col1">
                    <div class="col-title-pics">Landmarks</div>
                  </ul>


                  <ul class="class-pics-col2">
                    <div class="col-title-pics">Continents</div>
                  </ul>

                <br><br><br><br><br><br><br>
                <hr>
                <br>

              <ul class="pic-pool">
                <li class="class1"><img src="http://lauraspenke.com/quiz/images/cristoredentor.png" /></li>
                <li class="class1"><img src="http://lauraspenke.com/quiz/images/pyramids.png" /></li>
                <li><img src="http://lauraspenke.com/quiz/images/southamerica.png" /></li>
                <li><img src="http://lauraspenke.com/quiz/images/europe.png" /></li>
                <li class="class1"><img src="http://lauraspenke.com/quiz/images/eiffel.png" /></li>
                <li><img src="http://lauraspenke.com/quiz/images/africa.png" /></li>
              </ul>
            </div>

          </div><!-- end panel-stuff -->
         <div class="fb right-answer">
             All right!
         </div>
             <div class="fb partial-answer">
             Close but missing a few.
         </div>
         <div class="fb wrong-answer">
             None of these were right.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
              <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
         </div><!-- end panel -->


 <!-- long-answer -->

<!--         <div class="panel long-answer astr">
         <div class="panel-stuff">
            <div class="panel-question">
                <h2>What happens when two galaxies collide?</h2>
            </div><br>

                <div class="panel-answer">
                    <textarea class="long-val" rows="5"></textarea>
                </div>

          </div> --><!-- end panel-stuff -->
<!--          <div class="fb right-answer">
             Correct! The sun's light reflects off the Earth and Moon, but stars give off their own light.
         </div>
         <div class="fb wrong-answer">
             No, not so much.
         </div>
         <div class="bottom">
              <div class="panel-weight">1 point</div>
             <div class="confirm">Confirm</div>
              <div class="next slideshow-next">Next</div>
         </div>
        </div> --><!-- end panel -->


<!-- score -->

        <div class="panel score">
         <div class="panel-stuff">
            <div class="panel-question">
             
            </div>


          </div><!-- end panel-stuff -->

        </div><!-- end panel -->


        </div><!-- end slider -->
</div><!-- end slider-frame -->
<br><br><br><br><br><br>
  </div><!-- end row -->
<!-- </div> --> <!-- end page-content -->
</div><!--end blackcontent-->


</html>
