<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static'css/studhome_style.css'%}">
    <title>Document</title>
</head>
<body>
     <!--====== Header Section Start ======-->
<header>
    {% load static %}
    <nav class="navigation">
  
      <!-- Logo -->
      <div class="logo">
        <h1>PROFUTURE</h1>
      </div>
      
      <!-- Navigation -->
      <ul class="menu-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#portfolio">mcq</a></li>
        <li><a href="#">view profile</a></li>
        <li><a href="#portfolio">tutorials</a></li>

        <li><a href="#">Contact</a></li>
      </ul>
  
      <div class="humbarger">
        <div class="bar"></div>
        <div class="bar2 bar"></div>
        <div class="bar"></div>
      </div>
    </nav>
    
    <!-- ==== Intro Section Start ==== -->
    <div class="intro-section" id="home">
      <div class="bg-img"></div>
      <div class="intro-content">
        <h1>Web Developer</h1>
        <h6>from Kenya</h6>
        <p class="tagline">
          <span class="change-container">
            <span class="changing">get what you want</span>
            <span class="changing">how you want it</span>
            <span class="changing">when you want it</span>
          </span>
        </p>
        <div class="header-btn animated bounceIn">
          <a href="#contact"><span>Get A Quote</span></a>
        </div>
        <!-- social media -->
      </div>
    </div>	
  </header>
  
    
  </body>
  </html>
  
    
</body>
</html>