<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/update/{{project.projectid.projectid}}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <input type="text" id="title" name="title" value="{{project.projectid.title}}">
        
        <input type="number" id="doc" name="doc" value="{{project.projectid.doc}}">
        
        <input type="file" id="project" name="project" value="{{project.projectid.project}}">
        <button type="submit">submit</button>

    </form>
</body>
</html>